body {
    padding: 0;
    margin: 0;
    background-color: #ecf0f1;
    color: #1c2024;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border: none;
    color: #1c2024;
    background-color: #bdc3c7;
    height: 30pt;
    width: 10%;
}

#btn-prev-day {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

#btn-next-day {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#title-day {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15pt;
    line-height: 30pt;
}

#main {
    margin-top: 30pt;

    margin-left: 20%;
    margin-right: 20%;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #95a5a6;
    box-sizing: border-box;
    padding: none;
    margin: none;
    height: 30pt;
}

.substMonitorSubstElem {
    text-decoration: line-through;
}