body {
    --background: #ecf0f1;
    --background-secondary: #cfd3d6;
    --text-color-primary: #1c2024;
    --text-color-canceled: #788286;
    
    --side-margin: 20%;

    padding: 0;
    margin: 0;

    background-color: var(--background);
    color: var(--text-color-primary);
    
    font-family: 'Roboto', sans-serif;
    /*font-size: 14pt;*/
    color: var(--text-color-primary);
    letter-spacing: 0.03em;
}

button {
    border: none;
    color: var(--text-color-primary);
    background-color: transparent;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-secondary);
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    box-sizing: border-box;
    padding: none;
    margin: none;
    height: 2.5em;

    z-index: 1;
}

.navbar-arrow {
    height: 50%;
    width: auto;
}

#btn-prev-day {
    height: 100%;
}

#btn-next-day {
    height: 100%;
}

#title-day {
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
}

#messages {
    margin-top: 30pt;

    margin-left: var(--side-margin);
    margin-right: var(--side-margin);

    transition: margin 0.5s;
}

.message {
    display: list-item;
    margin-bottom: 10pt;
}

#substitutions {
    margin-top: 30pt;

    margin-left: var(--side-margin);
    margin-right: var(--side-margin);

    transition: margin 0.5s;
}

.subst-icon {
    height: 1.2em;
    width: auto;
    margin-right: 5pt;
    margin-left: 5pt;
}

.subst-data {
    display: flex;
    vertical-align: center;
}

.subst-element {
    display: grid;
    column-gap: 1em;
    row-gap: 0;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.subst-element > #periods {
    grid-row: 2;
    grid-column: 1;
}
.subst-element > #classes {
    grid-row: 1;
    grid-column: 1;
}

.subst-element:nth-child(odd) {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.substMonitorSubstElem {
    text-decoration: underline;
}

.cancelStyle {
    text-decoration: line-through;
    color: var(--text-color-canceled);
}

@media screen and (max-width: 1200px) {
    body {
        /*background-color: red;*/
        --side-margin: 10%;
    }

    .subst-element {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .subst-element > #periods {
        grid-row: 1;
        grid-column: 2;
    }

    .subst-element > #classes {
        grid-row: 1;
        grid-column: 1;
    }
}

@media screen and (max-width: 700px) {
    body {
        /*background-color: red;*/
        --side-margin: 5%;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        --background: #1c2024;
        --background-secondary: #3a3c3f;
        --text-color-primary: #ecf0f1;
        --text-color-canceled: #8f8970;
    }

    .navbar-arrow {
        filter: contrast(0) brightness(2);
    }

    .subst-icon {
        filter: contrast(0) brightness(1.2);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
    body {
        font-size: 14pt;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) and (max-width: 1000px) {
    body {
        font-size: 28pt;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) and (min-width: 1000px) {
    body {
        font-size: 16pt;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    body {
        font-size: 42pt;
    }
}