body {
    --background: #e0e0e0;
    --background-secondary: #c7c6c6;
    --background-lighter-secondary: #d4d4d4;
    --background-tertiary: #b6b6b6;
    --text-color-primary: #1c2024;
    --text-color-canceled: #6b807b;
    --accent: #00897b;
    --accent-dark: #006d62;

    --shadow: rgba(0, 0, 0, 0.2);
    --standard-box-shadow: .1em .2em .5em var(--shadow);

    --round-radius: .7em;

    --side-margin: 20%;

    --affected-elements-height: 2.5em;

    --font-size-normal: 16px;
    --font-size-monitor-mode: 16px;

    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    background-color: var(--background);
    color: var(--text-color-primary);

    font-family: 'Roboto', sans-serif;
    color: var(--text-color-primary);
    letter-spacing: .03em;
    font-size: var(--font-size-normal);

    transition: 0.1s
}

body.monitor-mode {
    font-size: var(--font-size-monitor-mode);
}

#settings-overlay p {
    font-size: 1.2em;
}

::-moz-selection {
    background: var(--accent);
}

::selection {
    background: var(--accent);
}

a {
    color: var(--accent-dark);
}

a:hover {
    color: var(--accent);
}

spacer {
    display: block;
    height: 3em;
}

button {
    border: none;
    color: var(--text-color-primary);
    background-color: transparent;
}

loading-hint, #noscript-hint {
    text-align: center;
}

.icon {
    position: relative;
    bottom: -0.3em;

    height: 1.4em;
    width: auto;

    margin-right: .5em;
    margin-left: .5em;
}

.filter-icon {
    position: absolute;

    bottom: unset;
    right: unset;
    left: unset;
    top: unset;

    left: calc(var(--side-margin) - 2.2em);
    transition: left .5s;
}

.no-subst-msg {
    text-align: center;

    margin-top: 2em;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);

    outline-width: 5px;
    outline-color: var(--text-color-primary);

    overflow: hidden;

    transition: margin .5s, box-shadow .5s;
}

.affected-elements {
    display: flex;

    padding: 0;

    min-height: var(--affected-elements-height);

    justify-content: center;
    align-items: center;

    margin-top: 1em;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);

    background-color: var(--background-secondary);
    border-radius: var(--round-radius);

    outline-width: 5px;
    outline-color: var(--text-color-primary);

    overflow-x: auto;
    overflow-y: hidden;
    /*white-space: nowrap;*/

    box-shadow: var(--standard-box-shadow);

    transition: margin .5s, box-shadow .5s;
}

.affected-elements.overflow-both {
    box-shadow: inset 2em 0 2.6em -2em var(--shadow), inset -2em 0 2.6em -2em var(--shadow);
}

.affected-elements.overflow-left {
    box-shadow: inset 2em 0 2.6em -2em var(--shadow);
}

.affected-elements.overflow-right {
    box-shadow: inset -2em 0 2.6em -2em var(--shadow);
}

.affected-element:hover {
    cursor: pointer;
}

.affected-element {
    display: flex;

    width: auto;
    min-height: var(--affected-elements-height);

    align-items: center;
    justify-content: center;
    text-align: center;

    padding-left: .5em;
    padding-right: .5em;

    outline-color: var(--text-color-primary);
    border-radius: var(--round-radius);

    transition: padding .5s, background-color .2s;
}

.affected-element.selected {
    background-color: var(--accent);
    padding-left: 1em;
    padding-right: 1em
}

.slide-right {
    overflow: hidden;
    margin: auto;
    word-wrap: break-word;
    white-space: nowrap;
}

@keyframes slide-right {
    from {
        margin-left: -500px;
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

.slide-left {
    margin: auto;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

@keyframes slide-left {
    from {
        margin-left: 500px;
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-tertiary);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: .2em;
    bottom: .2em;
    background-color: white;
    -webkit-transition: .2s, width 0s, height 0s;
    transition: .2s, width 0s, height 0s;
    transition-timing-function: cubic-bezier(.4,1.56,.51,.99);
}

input:checked + .slider {
    background-color: var(--accent);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.6em);
    -ms-transform: translateX(1.6em);
    transform: translateX(1.6em);
}

/* Rounded sliders */
.slider.round {
    border-radius: var(--round-radius);
}

.slider.round:before {
    border-radius: 50%;
}

#settings-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 2em;
    bottom: 1em;

    background-color: var(--accent);
    box-shadow: var(--standard-box-shadow);

    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;

    transition: opacity 1s, transform .2s;
    cursor: pointer;
}

.inactive #settings-btn {
    opacity: 0;
}

.inactive {
    cursor: none;
}

#settings-btn:hover {
    transform: scale(1.1);
}

#settings-btn:hover:active {
    transform: scale(1.05);
}

#settings-btn:active {
    background-color: var(--accent-dark);
}

.settings-btn-icon {
    height: 60%;
    width: auto;
    filter: contrast(0) brightness(1.7);
}

#settings-overlay-container {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    transition: backdrop-filter .5s, -webkit-backdrop-filter .5s, opacity .5s, visibility .5s;

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 2;
}

#settings-overlay-container > #escape-left {
    position: absolute;
    width: var(--side-margin);
    height: 100%;
    left: 0px;
}

#settings-overlay-container > #escape-right {
    position: absolute;
    width: var(--side-margin);
    height: 100%;
    right: 0px;
}

#settings-overlay-container > #escape-top {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0px;
}

#settings-overlay-container > #escape-bottom {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0px;
}

#settings-overlay {
    position: relative;
    display: block;
    background-color: var(--background-secondary);

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    height: 80%;
    width: calc(100% - var(--side-margin) * 2);

    padding: 1em;
    border-radius: var(--round-radius);

    transition: width .5s;

    overflow-y: auto;
    overflow-x: hidden;
}

.colorSelector {
    display: inline-block;
    border-radius: 25%;
    height: 2em;
    width: 2em;
    margin: 0.5em;
    cursor: pointer;
    box-shadow: 0 0 0 2pt var(--shadow);

    transition: transform .1s;
}

.colorSelector:hover {
    transform: scale(1.1);
}

.colorSelector.selected {
    box-shadow: 0 0 0 2pt var(--text-color-primary);
}

#settings-footer {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.avatar-link {
    height: 2.5em;
    width: auto;

    right: var(--side-margin);

    transition: right .5s, transform .5s;
}

.avatar-link:hover {
    transform: scale(1.1) !important;
}

.avatar-link#spyrex {
    border-radius: 50px;
    transform: scale(0.8);
}

.avatar-link#spyrex:hover {
    transform: scale(0.9) !important;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-secondary);
    backdrop-filter: blur(1px);
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 2.5em;

    box-shadow: var(--standard-box-shadow);

    z-index: 1;
}

.navbar-arrow {
    height: 50%;
    width: auto;
}

.navbar-btn {
    height: 100%;
    cursor: pointer;
    outline-width: 3px;
    outline-offset: -3px;
    outline-style: solid;
    outline-color: transparent;
    transition: all 0.2s;
}

.navbar-btn:active {
    background-color: var(--background-tertiary);
}

.navbar-btn:not(:active) {
    animation: navbar-btn-out 0.4s;
}

@keyframes navbar-btn-out {
    from {outline-color: var(--background-tertiary);}
    to {outline-color: transparent;}
}

#title-box {
    overflow: hidden;
}

#title-day {
    display: block;
    text-align: center;
    font-size: 1.1em;
    line-height: 2em;
    font-weight: bold;
}

.messages {
    margin-top: 1em;

    margin-left: var(--side-margin);
    margin-right: var(--side-margin);

    transition: margin .5s;
}

.message {
    display: list-item;
    margin-bottom: .8em;
    margin-left: 1em;
}

.subst-collection {
    border-radius: var(--round-radius);
    margin-bottom: 1em;

    box-shadow: var(--standard-box-shadow);
}

.subst-collection .subst-element:last-child {
    border-radius: 0 0 var(--round-radius) var(--round-radius);
    border-bottom: .2em;
}

.subst-collection .subst-element:first-child {
    border-radius: var(--round-radius) var(--round-radius) 0 0;
    border-top: .2em;
}

.subst-collection .subst-element:first-child:last-child {
    border-radius: var(--round-radius) var(--round-radius) var(--round-radius) var(--round-radius);
}

.substitutions {
    margin-top: 2em;

    margin-left: var(--side-margin);
    margin-right: var(--side-margin);

    transition: margin .5s;

    border-color: var(--background-secondary);
    border-radius: var(--round-radius);
}

body.monitor-mode .substitutions {
    padding-right: .5em;
    margin-right: calc(var(--side-margin) - .5em);
    overflow-y: hidden;
    flex: 1;
}

.subst-icon {
    height: 1.2em;
    width: auto;
    margin-right: .5em;
    margin-left: .5em;
}

.subst-data {
    display: flex;
    vertical-align: center;
}

.subst-element {
    display: grid;
    column-gap: 1em;
    row-gap: 0em;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);

    background-color: var(--background-secondary);
}


.subst-element.variation {
    background-color: var(--background-lighter-secondary);
}

.subst-element > #periods {
    grid-row: 2;
    grid-column: 1;
}
.subst-element > #classes {
    grid-row: 1;
    grid-column: 1;
}

@media screen and (orientation: landscape) {
    body.monitor-mode .substitutions .subst-element {
        display: grid;
        column-gap: 1em;
        padding-left: 1em;
        padding-right: 1em;
        grid-template-columns: 10fr 6fr 8fr 12fr 8fr 10fr 14fr;
    }
    
    body.monitor-mode .substitutions.teacher .subst-element {
        grid-template-columns: 10fr 8fr 10fr 12fr 12fr 8fr 14fr;
    }
    
    body.monitor-mode .substitutions .subst-element > #classes {
        grid-column: 1;
        grid-row: 1;
    }
    
    body.monitor-mode .substitutions .subst-element > #periods {
        grid-column: 2;
        grid-row: 1;
    }
    
    body.monitor-mode .substitutions .subst-element > #course {
        grid-column: 3;
        grid-row: 1;
    }
    
    body.monitor-mode .substitutions .subst-element > #type {
        grid-column: 4;
        grid-row: 1;
    }
    
    body.monitor-mode .substitutions .subst-element > #room {
        grid-column: 5;
        grid-row: 1;
    }
    
    body.monitor-mode .substitutions .subst-element > #teacher {
        grid-column: 6;
        grid-row: 1;
    }
    
    body.monitor-mode .substitutions .subst-element > #message {
        grid-column: 7;
        grid-row: 1;
    }
    
    body.monitor-mode .substitutions.teacher .subst-element > #teacher {
        grid-column: 1;
    }
    
    body.monitor-mode .substitutions.teacher .subst-element > #classes {
        grid-column: 6;
        grid-row: 1;
    }   
}

.substitutions.teacher .subst-element > #teacher {
    grid-column: 1;
    grid-row: 1;
}

.substitutions.teacher .subst-element > #classes {
    grid-column: 2;
    grid-row: 2;
}

.substmonitorSubstElem {
    text-decoration: underline;
}

.cancelStyle {
    text-decoration: line-through;
    color: var(--text-color-canceled);
}

@media screen and (orientation: portrait) {
    .subst-element {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .subst-element > #periods {
        grid-row: 1;
        grid-column: 2;
    }

    .subst-element > #classes {
        grid-row: 1;
        grid-column: 1;
    }
}

@media screen and (max-width: 1200px) {
    body {
        --side-margin: 10%;
    }
}

@media screen and (max-width: 700px) {
    body {
        --side-margin: 5%;
    }

    .filter-icon {
        visibility: hidden;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

body.dark {
    --background: #1c2024;
    --background-secondary: #3a3c3f;
    --background-lighter-secondary: #28292b;
    --background-tertiary: #5e6061;
    --text-color-primary: #ecf0f1;
    --text-color-canceled: #8f8970;

    --shadow: rgba(0, 0, 0, 0.8);
}

body.dark .navbar-arrow {
    filter: contrast(0) brightness(2);
}

body.dark .subst-icon {
    filter: contrast(0) brightness(1.2);
}

body.dark .icon {
    filter: contrast(0) brightness(1.8);
}

body.dark .filter-icon {
    filter: contrast(0) brightness(1.3);
}

body.dark a {
    color: var(--accent);
}

body.dark a:hover {
    color: var(--accent-dark);
}


@media screen and (orientation: portrait) {
    body {
        --side-margin: 10%;
    }
}

/* Dynamic Font scaling and I will never be friends...*/

@media screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
    body {
        --font-size-normal: 36px;
        --font-size-monitor-mode: 33px;
    }

    #settings-btn {
        width: 7em;
        height: 7em;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
        --font-size-normal: 36px;
        --font-size-monitor-mode: 33px;
    }

    #settings-btn {
        width: 7em;
        height: 7em;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    body {
        --font-size-normal: 36px;
        --font-size-monitor-mode: 33px;
    }

    #settings-btn {
        width: 7em;
        height: 7em;
    }
}

/* Works on Firefox */
* {
    scrollbar-color: var(--background-tertiary) var(--background-secondary);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-track {
    background: var(--background-secondary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background-tertiary);
}
